
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    background-color: #000000;
    overflow: hidden;
    text-align: center;
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
  }

  .container1 {
    padding: 2px 16px;
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
  }

  .hidden-btn{
    width: 100%;
    display: none;
  }

  h1{
      
      
      color: white;
      font-family: Herculanum, "Eras Demi ITC", sans-serif;
  }
  p{
      color: white;
      font-family: Herculanum, "Eras Demi ITC", sans-serif;
  }

  .neon {
    font-size: 15px;
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #001489,
      0 0 80px #001489,
      0 0 90px #001489,
      0 0 100px #001489,
      0 0 150px #001489;
  }

  .neon2 {
    font-size: 15px;
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
    font-weight: 400;
    color: rgb(169, 203, 247);
    text-shadow:
      0 0 5px #001489,
      0 0 10px #001489,
      0 0 20px #001489,
      0 0 40px #001489,
      0 0 80px #001489,
      0 0 90px #001489;
     
  }

  .activity-name{
        font-size: 20px;
        font-weight: 600;
        font-family: Herculanum, "Eras Demi ITC", sans-serif;
        color: rgb(250, 192, 192);
        text-shadow:
          0 0 5px rgb(233, 143, 143),
          0 0 10px rgb(233, 143, 143),
          0 0 40px #E30A17,
          0 0 80px #E30A17,
          0 0 90px #E30A17;
         
   
  }

  .button-activity {
    border:0;
    background: rgb(255, 255, 255);
    margin: 20px auto;
    text-align: center;
    border: 2px solid #032db9;
    outline: none;
    color: rgb(17, 2, 2);
    border-radius: 24px;
    padding: 14px 10px;
    width:75%;
    margin-top:5px;
    font-size:15px;
    padding:8px;
    transition: 0.30s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .button-activity:hover {
    background: rgb(113, 247, 124);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8px 25px 0 rgba(0,0,0,0.19);
  }