.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  border-radius: 5px;
  background-color: #b1b7bd;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

.card:hover > div > div .hidden-btn {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  display: block;
}

.card:hover > div > div .hidden-btn2 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  display: block;
}

img {
  border-radius: 5px 5px 0 0;
}

.container1 {
  padding: 2px 16px;
  
}

.hidden-btn {
  display: none;
  border: 0;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  text-align: center;
  border: 2px;
  outline: none;
  color: rgb(17, 2, 2);
  border-radius: 24px;
  width: 10%;
  margin-top: 5px;
  font-size: 15px;
  padding: 4px;
  transition: 0.3s;
  
}
.hidden-btn:hover {
  background: rgb(144, 200, 226);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8px 25px 0 rgba(0,0,0,0.19);
}
.hidden-btn2:hover {
  background: rgb(221, 120, 120);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8px 25px 0 rgba(0,0,0,0.19);
}

.hidden-btn2 {
  display: none;
  border: 0;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  text-align: center;
  border: 2px;
  outline: none;
  color: rgb(17, 2, 2);
  border-radius: 12px;
  width: 10%;
  margin-top: 5px;
  font-size: 15px;
  padding: 4px;
  transition: 0.3s;
}
.hidden-btn2:hover {
  background: rgb(247, 31, 31);
  border: 2px solid #c20303;
  width: 10%;

  color: rgb(255, 255, 255);
}

h1 {
  color: white;
}
p {
  color: white;
}

.neon {
  color: black;
  font-size: 15px;
  font-weight: 550;
}

.activity-name {
  color: black;
  font-size: 20px;
  font-weight: 600;
}
