*{
    margin: 0;
    padding:0;
}

body{
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
    background: white;
}



label{
        margin-top: 5%;
        margin-bottom: 0%;
        width: 50%;
        height: 50%;
        color: rgb(236, 0, 0);
        font-size: 20px;
        font-weight: bold;
        font-family: Helvetica;

}

.logo{
    width: 50%;
    height: 50%;
}

.row .logo img{
    width: 20%;
    height: auto;
    text-align: center;
}
.col-btn{
    text-align: center;
}
.button-go {
    border:0;
    background: rgb(255, 255, 255);
    margin: 20px auto;
    text-align: center;
    border: 2px solid #032db9;
    outline: none;
    color: rgb(17, 2, 2);
    border-radius: 24px;
    width:25%;
    margin-top:5%;
    font-size:15px;
    padding:8px;
    transition: 0.30s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-left: 30px
  }

   .button-go:hover {
    border: 3px solid #29a2f3;
    color: ivory;
    background: rgb(144, 200, 226);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8px 25px 0 rgba(0,0,0,0.19);
   }